<!DOCTYPE HTML>
<html lang="es-mx">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Vidy Clean</title>
<meta name="viewport" content="width=device-width, initial-sacle=1.0">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css" media="screen">
<link rel="stylesheet" type="text/css" href="css/menu.css" media="screen">
<link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="js/jquery-1.10.1.min.js" type="text/javascript"></script>
<script src="js/jquery-1.11.1.min.js"></script>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<div class="terminos-menu">         
    <p> 
        <a href="terminos.html">Términos y condiciones</a>&nbsp;&nbsp;
        <a href="aviso.html">Aviso de privacidad</a> 
    </p>
</div>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin:0px;">
	<div class="container-fluid">
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        		<span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
      		</button>
			<a class="navbar-brand page-scroll grande"href="#page-top"><img src="img/logo.jpg"></a>
            <a class="navbar-brand page-scroll chica" href="#page-top"><img src="img/logo_sm.jpg"></a>
		</div>
		<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
			<ul class="nav navbar-nav ">

				<li><a class="page-scroll" href="index.html#page-top">Home</a></li>
				<li><a class="page-scroll" href="index.html#como">¿Cómo funciona?</a></li>
				<li><a href="#">Precios</a></li>
                <li><a class="page-scroll" href="index.html#faq">Preguntas frecuentes</a></li>
			</ul>
		</div>
	</div>
</nav>

<section class="slogan2 text-center section-padding">
    <h1>Aviso de privacidad</h1>
</section>

<section class="terminos-section">
    <div class="container">
        <div class="row">
        
        <div class="col-sm-12 text-justify">
            <h3>VidyClean México</h3>
            <p>VidyClean, con domicilio en ………………………………..número………, colonia ……………, Código Postal …………., en la ciudad de León, Guanajuato, ponemos a su disposición el presente Aviso de Privacidad en cumplimiento a la Ley Federal de Datos Personales en Posesión de los Particulares, su Reglamento y los Lineamientos del Aviso de Privacidad. VidyClean es una empresa que proporciona servicios de limpieza en las principales ciudades de la República Mexicana, esto lo hace a través de un sistema por internet de reservación  y contratación. VidyClean recabará sus datos personales con la finalidad de crear cuentas personales, enviarle avisos sobre nuestros  servicios, efectuar el procesamiento de contratación y pagos.</p>
            <p><strong>I. Datos Personales que VidyClean podrá recabar</strong><br>
Derivado de nuestras operaciones, VidyClean, podrá recabar sus datos personales de diversas formas a través de su portal en internet en www.vidyclean.com. Podrá recabar datos de identificación como nombre, domicilio, correo electrónico, teléfono fijo, teléfono móvil, datos fiscales como domicilio fiscal y número de Registro Federal de Contribuyentes, así como  datos financieros como información de cuentas bancarias e información de tarjetas de crédito y/o débito y formas de pago. 
</p>
            <p><strong>II. Finalidades del Tratamiento de Datos Personales</strong><br>
Le informamos que sus datos personales serán utilizados con la finalidad de llevar a cabo las operaciones inherentes a nuestro negocio, así como cualquier actividad derivada de la relación jurídica existente o que llegare a existir entre usted y VidyClean, la prestación de servicios, llevar a cabo facturación, envío de publicidad y transferencia a terceros de información y publicidad relativa a dichos servicios en la medida en que la transferencia sea necesaria para dar cumplimiento a las finalidades previamente mencionadas.
</p>
            <p><strong>Limitación de uso y divulgación de información.</strong><br>
Queda entendido que en cualquier momento usted podrá solicitar la cancelación y/o revocación del consentimiento de su suscripción a nuestros servicios, solicitando su baja a info@vidyclean.com
</p>
            <p><strong>III. Transferencia de datos personales</strong><br>
VidyClean le informa que sus datos personales, serán salvaguardados bajo los más altos estándares de seguridad, garantizando en todo momento la más estricta confidencialidad y privacidad de los mismos, apegándonos en todo momento a lo establecido por la Ley Federal de Datos Personales en Posesión de los Particulares, su Reglamento y los Lineamientos del Aviso de Privacidad. 
</p>
            <p><strong>IV. Medidas de seguridad</strong><br>
Toda la información y datos personales que usted proporcione a través de los diversos formularios en el portal de internet www.vidyclean.com, se encuentran debidamente protegidos por servidores seguros a efecto de evitar el acceso no autorizado a sus datos personales y que los mismos sean estrictamente utilizados para los fines descritos en éste Aviso de Privacidad.<br>
Al momento contratar nuestros servicios en línea, se pedirán datos bancarios para los cuales le ofrecemos seguridad y confidencialidad de los datos que proporciona. Sin embargo, y a pesar de contar cada día con herramientas más seguras, la protección de los datos enviados a través de Internet no se puede garantizar al 100%; por lo que una vez recibidos, se hará todo lo posible por salvaguardar la información. 
</p>
            <p><strong>V. Cookies</strong><br>
Las cookies son archivos de datos que se almacenan en el disco duro de los equipos al navegar en un sitio de internet específico, el cual permite intercambiar información de estado entre dicho sitio y el navegador de usuario. La próxima vez que ingrese a nuestro portal www.vidyclean.com podremos usar la información almacenada en la cookie con la única finalidad de facilitarle el uso de nuestro sitio de internet.
En el caso de empleo de cookies, el botón de "ayuda" que se encuentra en la barra de herramientas de la mayoría de los navegadores, le dirá cómo evitar aceptar nuevos cookies, cómo hacer que el navegador le notifique cuando recibe un nuevo cookie o cómo deshabilitar todos los cookies. 
<</p>
            <p><strong>Cambios en el aviso de privacidad</strong><br>
Nos reservamos el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente aviso de privacidad, para la atención de novedades legislativas o jurisprudenciales, políticas internas, nuevos requerimientos para la prestación u ofrecimiento de nuestros servicios o productos y prácticas del mercado.
Estas modificaciones estarán disponibles al público a través de nuestra página de Internet www.vidyclean.com , sección aviso de privacidad. 
</p>
            <p><strong>Aceptación de los términos</strong><br>
Esta declaración de Privacidad está sujeta a los términos y condiciones del sitio web de VidyClean antes descrito, lo cual constituye un acuerdo legal entre el usuario y VidyClean.
Si el usuario utiliza los servicios, significa que ha leído, entendido y acordado los términos antes expuestos.
</p>
            <p><strong>Autoridad</strong><br>
Si el usuario considera que han sido vulnerados sus derechos respecto de la protección de datos personales, tiene el derecho de acudir a la autoridad correspondiente para defender su ejercicio. La autoridad es el Instituto Federal de Acceso a la Información y Protección de Datos (IFAI), su sitio web es: www.ifai.mx.
</p>
            <p><strong>Fecha de la última actualización.</strong><br>
Estimado usuario, se le notifica que el Aviso de Privacidad ha sido modificado el día 01 de junio de 2015.
</p>
            <p></p>
            <p></p>
            <p></p>
        </div>
        </div>
    </div>
</section>



<footer>
        <div class="row no-padding no-margin">
            <div class="col-sm-4 text-center">
                <p class="footer"><a class="page-scroll" href="index.html#como">¿Como funciona? &nbsp;</a><a href="#">Precios &nbsp;</a><a class="page-scroll" href="index.html#faq">Preguntas frecuentes</a></p>
            </div>
            <div class="col-sm-4 text-center">
                <p class="footer">Vidy Clean | Copyright 2015. All Right Reserved.</p>
            </div>
            
            <div class="col-sm-4 text-center">
                <p class="footer">Design&Code<a href=""><span class="verde">Spacio Interactive</span></a></p>
            </div>

        </div>
        <div class="row no-padding no-margin">
            <div class="col-sm-12 text-center">
                <p class="terminos"> 
                    <a href="terminos.html">Términos y condiciones</a>&nbsp;&nbsp;
                    <a href="aviso.html">Aviso de privacidad</a> 
                </p>
            </div>
        </div>
</footer>

<!-- Scrolling Nav JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/scrolling-nav.js"></script>

<script>
    $(document).ready(function () {

        // you want to enable the pointer events only on click;

        $('#map_canvas1').addClass('scrolloff'); // set the pointer events to none on doc ready
        $('#canvas1').on('click', function () {
            $('#map_canvas1').removeClass('scrolloff'); // set the pointer events true on click
        });

        // you want to disable pointer events when the mouse leave the canvas area;

        $("#map_canvas1").mouseleave(function () {
            $('#map_canvas1').addClass('scrolloff'); // set the pointer events to none when mouse leaves the map area
        });
    });
</script>
        



    <script src="js/bootstrap.min.js"></script>



</body>
</html>
