body{
    background: url("../images/body-bg.png") center center;
    background-size:cover ;
    margin: 0 !important;
}
.wrapper{
    border: 1px solid #D0D0D0;
    -webkit-box-shadow: 0 0 8px #111F57;
    background-color: #ffffff;
    padding: 0 20px;
    overflow: hidden;
    margin: 0% 10%;

}
.row{

    margin: 1%;
    margin-right: 0%;
    margin-left: 5%;

}
.header,.footer {
    margin: 0% -2%;
    background-color: rgba(21, 25, 25, 0.8);
    color: rgba(250, 250, 250, 0.8);
   // height: 100px !important;
    width: 104%;
    padding: 2% 0%;
}
.footer{
     height: 70px !important;
    width: 104%;
    padding: 2% 0%;
}
.container{
    width: 100%;
    margin: 0% 0%;
    font-size: 18px;

}
.title{
    text-align: center;
    margin: 0% 30%;
    color: whitesmoke;
}
.sub-title{
    margin-top:-7px;
}
.footer-title{
     margin-left: 30%;
      margin-top:0px;
}
.heading{
     font-weight: bold;
}
.custom{
    border: 4px solid rgb(204, 204, 204);
    border-top: 0px; 
    border-left: 0px; 
    border-right: 0px; 
    border-radius: 0px;
}
#logo{
    width: 103%;
    height: 100%;
}
#logo-2{
    width: 178px;
    height: 118px;
    margin-top:21px;
}
.left-block{
    width: 40%;
    margin-top: 2%;
}
.right-block{
    font-size: 20px;

    margin: 3% 0% 2% 27px;
    width: 50%;
}
.counter{
    margin-right: 7%;
   
}
#servey{
    margin-bottom: 5%;
}

.custom-btn{
    display: inline-block;
    // padding: 6px 12px;
    margin-bottom: 0;
    // margin:0% 100%;
    font-size: 20px;
    line-height: 1.5;
    border-radius: 0px;
    width: 100%;
}
.btn-margin{
    margin: 0% 27%;
}
.form-control {
    height: 45px;
    font-size: 20px;
}
.thank{
    margin-top: 1%;
}
.fb-like-btn{
    height: 1px;
}
#site-visits{
    padding: 1% !important;
}
.counts{
     background: #458;
     padding: 3%;
}