body{
     background: url("../images/body-bg.png") center center;
    background-size:cover ;
    margin: 0 !important;
}
.wrapper{
    border: 1px solid #D0D0D0;
    -webkit-box-shadow: 0 0 8px #111F57;
    background-color: #ffffff;
    padding: 0 20px;
    overflow: hidden;
    margin: 0% 10%;

}
.header {
  margin: 0% -2%;
  background-color: rgba(21, 25, 25, 0.8);
  color: rgba(250, 250, 250, 0.8);
  height: 100px !important;
  width: 104%;
  padding: 2% 0%;
}
.container{
    margin: 0% 10%;
}
.title{
    text-align: center;
    margin: 0% 30%;
    color: whitesmoke;
}

.custom{
    border-top: 0px; 
    border-left: 0px; 
    border-right: 0px; 
}
#logo{
    width: 100%;
    height: 400px;
}
#logo-2{
    width: 121px;
    height: 121px;
}
.left-block{
    width: 40%;
}
.right-block{
    font-size: 20px;
    margin: 7% 3%;
    width: 35%;
}

#servey{
    margin-bottom: 5%;
}

.custom-btn{
    display: inline-block;
   // padding: 6px 12px;
    margin-bottom: 0;
    margin-left: 73%;
    font-size: 20px;
    line-height: 1.5;
    border-radius: 0px;
    width: 100%;
}