body{
    background-size:cover ;
    margin: 0 !important;
}
.wrapper{
    border: 1px solid #D0D0D0;
    //  -webkit-box-shadow: 0 0 8px #111F57;
    background-color: #ffffff;
    padding: 0 20px;
    overflow: hidden;
    margin: 3% 7%;

}

.header{
    //  background-color:  #B8A7C0;  
    margin-bottom:0px;
    background-color:  rgba(21, 25, 25, 0.8);
    color: rgba(250, 250, 250, 0.8);
    height: 10%;

}
.container{
    width: 100% !important;
    padding: 2px;
   // margin: 10%;
}